@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Fascinate&family=Gentium+Plus:ital,wght@1,700&family=Pacifico&family=Prompt:wght@300&family=Shadows+Into+Light&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

h1{
    text-align: center;
    margin: 12px 0;

}

.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;

}

.myInput{
    width: 50%;
    padding: 9px;
    margin: 8px;
    font-size: 16px;
    border: 2px solid red;
    border-radius: 12px;
    outline: none;

}

.btn{
    padding: 12px 16px;
    font-size: 18px;
    border: 2px solid red;
    border-radius: 12px;
    color: wheat;
    background-color: black;
    cursor: pointer;
    outline: none;
    margin: 23px;

}.container{
    min-height: 70vh;
    margin: 43px 0;

    
}
.container h1{
    font-family: 'Prompt', sans-serif;
    font-size: 34px;
   
    
}
